#RewriteEngine On

# Remove .php file extension from URL
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

# set cache control header
<filesMatch ".(ico|js|png|css|xml)$">
Header set Cache-Control "max-age=604800000, public, immutable"
</filesMatch>
<filesMatch ".(html)$">
Header set Cache-Control "max-age=180, public, immutable"
</filesMatch>

# set security headers
<IfModule mod_headers.c>
#Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval';"
Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
Header always set X-XSS-Protection "1;  mode=block"
Header always set Referrer-Policy "no-referrer"
Header always set X-Content-Type-Options nosniff
Header set X-Frame-Options SAMEORIGIN
Header always set Permissions-Policy "geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"

# remove useless headers
<FilesMatch "\.(css|manifest|txt|png)$">
    Header unset X-XSS-Protection
    Header unset Content-Security-Policy
</FilesMatch>
</IfModule>

# set the correct type for file
<IfModule mod_mime.c>
    AddType text/javascript                             js
    AddType application/manifest+json                   webmanifest
</IfModule>

# fix bug with .js.php files
<filesMatch ".(js.php)$">
AddType application/manifest+json
Header always set content-type "text/javascript; charset=UTF-8"
</filesMatch>

# set default charset
AddDefaultCharset utf-8

<filesMatch ".(php)$">
#Header always set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval';"
</filesMatch>

# remove .html
RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# error pages
ErrorDocument 400 /other/400.html
ErrorDocument 401 /other/401.html
ErrorDocument 403 /other/403.html
ErrorDocument 404 /other/404.html
ErrorDocument 500 /other/500.html
